<img src="/images/picoWLogo.png" 
     alt="Pico W logo" 
     style="position: absolute;
	        top: 160px; left: 580px; z-index: 80; height: 160px;"
			/>
<div class="parallax">
	<div class="rotate-container">
		<img src="/images/spiral.png" style="opacity: 0.8" alt="Rotating Image">
		<img/>
	</div>
</div>
@code {

}
